# .NET build outputs
bin/
obj/
out/

# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Visual Studio Code
.vscode/

# Rider
.idea/

# NuGet
*.nupkg
**/packages/*
!**/packages/build/

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Mac
.DS_Store
.AppleDouble
.LSOverride

# Publish output
publish/
**/PublishProfiles/

# Test results
TestResults/
*.trx

# User-specific files
*.rsuser
*.log

# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# Application-specific
**/appsettings.Development.json

# MSIX signing
*.pfx
*.msix
*.msixupload
*.appxupload

# VSCode extensions
.history/

# Local folders
github/